$color-main: #0e141b;
$color-violet: #617bff;
$color-brown: #c69863;
$color-light: #f3eeee;
$color-accent: #e50167;
$color-red: #a60311;
$color-dark: #012340;
$color-section: #fff;
$color-extra: #5041ff;
$color-stars: #fdb417;
