.heading-h2 {
	text-align: center;
	font-size: 2.4rem;
	font-weight: 500;
	margin-bottom: 3rem;
}

.heading-h3 {
	text-align: left;
	font-size: 1.4rem;
	font-weight: 500;
}

.heading-h4 {
	text-align: center;
	font-size: 1.5rem;
	font-weight: 500;
	margin-bottom: 0rem;
	// margin-top: 1rem;
}

.hide-body {
	overflow: hidden;
}

.max {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 2rem;
	
}


